<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragment :: Lib_Fragment"></head>
<body>
<div id="loginbox">
  <form action="#" class="form-vertical" id="loginform" method="POST" th:action="@{/login}">
    <div class="control-group normal_text">
      <h3>
        <img alt="Logo" src="../static/img/logo.png" th:src="@{img/login-logo.png}"/>
      </h3>
    </div>
    <div class="alert alert-dark" id="reset-success-msg" th:if="${resetSuccess}">
      You successfully reset your password!.
    </div>
    <div class="alert alert-dark" id="success-msg" th:if="${signupSuccess}">
      You successfully signed up! Please log in to find more wonderful thing.
    </div>
    <div class="alert alert-danger" id="error-login" th:if="${param.error}">
      Invalid username or password
    </div>
    <div class="alert alert-dark" id="logout" th:if="${param.logout}">
      You have been logged out
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="main_input_box">
                    <span class="add-on">
                        <i class="icon-user"></i>
                    </span>
          <input class="form-control" id="inputUsername" maxlength="20" name="username"
                 placeholder="Enter Username" required type="input">
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="main_input_box">
                    <span class="add-on">
                        <i class="icon-lock"></i>
                    </span>
          <input class="form-control" id="inputPassword" maxlength="20" name="password"
                 placeholder="Enter Password" required type="password">
          <span class="middle" style="margin-top: 5px"><a class="flip-link btn btn-inverse" href="#"
                                                          id="to-recover">Lost password?</a></span>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <span class="pull-left"><a class="flip-link btn btn-primary" href="/signup">Sign Up</a></span>
      <span class="pull-right">
                <input class="btn btn-success" type="submit" value="Login"/>
            </span>
    </div>
  </form>
  <form action="#" class="form-vertical" id="recoverform" method="POST"
        th:action="@{/signup/password}">
    <p class="normal_text">Your e-mail address is needed to reset password. Please fill below
      require.</p>

    <div class="controls">
      <div class="main_input_box">
                <span class="add-on">
                    <i class="icon-envelope"></i>
                </span>
        <input id="recoverEmail" name="recoverEmail" placeholder="E-mail address" type="email"/>
      </div>
    </div>
    <div class="controls">
      <div class="main_input_box">
                <span class="add-on">
                    <i class="icon-envelope"></i>
                </span>
        <input id="resetPassword" name="resetPassword" placeholder="New password" type="password"/>
      </div>
    </div>
    <div class="controls">
      <div class="main_input_box">
                <span class="add-on">
                    <i class="icon-envelope"></i>
                </span>
        <input id="confirmResetPassword" name="confirmResetPassword" placeholder="Confirm new password"
               type="password"/>
      </div>
    </div>

    <div class="form-actions">
      <span class="pull-left"><a class="flip-link btn btn-inverse" href="#" id="to-login">&laquo; Back to login</a></span>
      <span class="pull-right"><input class="btn btn-info" type="submit" value="Recover"/></span>
    </div>
  </form>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/maruti.login.js}"></script>

</body>

</html>
