<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragment :: Lib_Fragment"></head>
<body>

<div th:replace="fragment :: header"></div>
<div th:replace="fragment :: menu"></div>
<div th:replace="fragment :: sidebar"></div>

<div id="content">
  <div id="content-header">
    <div id="breadcrumb"><a class="tip-bottom" href="index.html" title="Go to Home"><i
        class="icon-home"></i>
      Home</a> <a class="tip-bottom" href="#">Form elements</a> <a class="current" href="#">Common
      elements</a>
    </div>
    <h1>Subject Details</h1>
  </div>
  <div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span6">
          <div class="widget-box">
            <div class="widget-title"><span class="icon"> <i
                class="icon-align-justify"></i> </span>
              <h5>New Subject</h5>
            </div>
            <div class="widget-content nopadding">
              <form action="#" class="form-horizontal" method="POST" th:action="@{/subject}">
                <div class="alert alert-danger" id="error-login" th:if="${addNewFail}"
                     th:uText="${addNewFail}"></div>
                <div class="alert alert-dark" id="success-msg" th:if="${addNewSuccess}"
                     th:uText="${addNewSuccess}"></div>
                <div class="control-group">
                  <label class="control-label">Subject Name :</label>
                  <div class="controls">
                    <input class="span11" name="subjectName" placeholder="Subject Name"
                           type="text"/>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Category</label>
                  <div class="controls">
                    <select id="category" name="category">
                      <option th:value="'Combo Box'" th:text="'Combo Box'"></option>
                      <option th:value="'Second option'" th:text="'Second option'"></option>
                      <option th:value="'Third option'" th:text="'Third option'"></option>
                      <option th:value="'Fourth option'" th:text="'Fourth option'"></option>
                    </select>
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <div>
                      <input name="featured" type="checkbox"/>
                      Featured Subject
                    </div>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Status</label>
                  <div class="controls">
                    <select name="status">
                      <option>Active</option>
                      <option>Inactive</option>
                    </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Description field:</label>
                  <div class="controls">
                    <input class="span11" name="description" type="text"/>
                    <span class="help-block">Description field</span></div>
                </div>
                <div class="form-actions">
                  <button class="btn btn-success" type="submit">Save</button>
                  <span class="pull-right"><a class="flip-link btn btn-inverse" href="#"
                                              id="cancel-new-subject">Cancel</a></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="fragment :: footer"></div>
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/jquery.ui.custom.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/bootstrap-colorpicker.js}"></script>
<script th:src="@{js/bootstrap-datepicker.js}"></script>
<script th:src="@{js/jquery.uniform.js}"></script>
<script th:src="@{js/select2.min.js}"></script>
<script th:src="@{js/maruti.js}"></script>
<script th:src="@{js/jquery.dataTables.min.js}"></script>
<script th:src="@{js/maruti.form_common.js}"></script>
<script th:src="@{js/maruti.tables.js}"></script>
<script th:src="@{/js/jquery-slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
