<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragment :: Lib_Fragment"></head>
<body>
<div id="signupbox">
  <form action="#" class="form-vertical" id="signupform" method="POST" th:action="@{/signup}">
    <div class="control-group normal_text"><h3>Sign Up</h3></div>
    <div class="alert alert-danger" th:if="${signupError}">
      <span th:text="${signupError}">Signup Error</span>
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="main_input_box">
          <span class="add-on"><i class="icon-user"></i></span>
          <input class="form-control" id="inputUsername" maxlength="20" name="username"
                 placeholder="Enter Username" required type="input">
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="main_input_box">
          <span class="add-on"><i class="icon-lock"></i></span>
          <input class="form-control" id="inputPassword" maxlength="20" name="password"
                 placeholder="Enter Password" required type="password">
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="main_input_box">
          <span class="add-on"><i class="icon-lock"></i></span>
          <input class="form-control" id="inputConfirmPassword" maxlength="20"
                 name="confirmPassword" placeholder="Enter Confirm Password" required
                 type="password">
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="main_input_box">
                    <span class="add-on">
                        <i class="icon-lock"></i>
                    </span>
          <input class="form-control" id="inputEmail" maxlength="20" name="email"
                 placeholder="Enter Email" required type="email">
        </div>
      </div>
    </div>
    <div class="form-actions">
            <span class="pull-left">
                <a class="flip-link btn btn-inverse" id="to-login" th:href="@{/login}">
                    &laquo; Back to login
                </a>
            </span>
      <span class="pull-right">
                <input class="btn btn-success" type="submit" value="SignUp"/>
            </span>
    </div>
  </form>
</div>

</body>

</html>
