<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragment :: Lib_Fragment"></head>
<body>

<div th:replace="fragment :: header"></div>
<div th:replace="fragment :: menu"></div>
<div th:replace="fragment :: sidebar"></div>

<div id="content">
  <div id="content-header">
    <div id="breadcrumb"><a class="tip-bottom" href="/" title="Go to Home"><i class="icon-home"></i>
      Home</a> <a class="current" href="/user">Profile</a></div>
    <h1>Common Form Elements</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span6">
        <div class="widget-box">
          <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
            <h5>Personal-info</h5>
          </div>
          <div class="widget-content nopadding">
            <form action="#" class="form-horizontal" method="POST" th:action="@{/user}">
              <div class="alert alert-dark" id="update-profile-success"
                   th:if="${updateProfileSuccess}">Profile Update Successfully
              </div>
              <div class="control-group">
                <label class="control-label">First Name :</label>
                <div class="controls">
                  <input class="span11" name="firstName" placeholder="First name" th:value="${user.getFirstName()}"
                         type="text"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Last Name :</label>
                <div class="controls">
                  <input class="span11" name="lastName" placeholder="Last name" th:value="${user.getLastName()}"
                         type="text"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">University info :</label>
                <div class="controls">
                  <input class="span11" name="universityName" placeholder="University name"
                         th:value="${user.getUniversityName()}" type="text"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Description field:</label>
                <div class="controls">
                  <input class="span11" name="description" th:value="${user.getDescription()}"
                         type="text"/>
                  <span class="help-block">Description field</span></div>
              </div>
              <div class="form-actions">
                <button class="btn btn-success" type="submit">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="widget-box">
          <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
            <h5>Password Change</h5>
          </div>
          <div class="widget-content nopadding">
            <div class="alert alert-danger" id="error-change-password"
                 th:if="${passwordChangeError}" th:utext="${passwordChangeError}"></div>
            <div class="alert alert-dark" id="notification-change-password"
                 th:if="${passwordChangeNotification}" th:utext="${passwordChangeNotification}"></div>
            <form action="#" class="form-horizontal" method="POST" th:action="@{/user/password}">
              <div class="control-group">
                <label class="control-label">Current Password :</label>
                <div class="controls">
                  <input class="span11" name="currentPassword" placeholder="Current Password"
                         type="password"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">New Password :</label>
                <div class="controls">
                  <input class="span11" name="newPassword" placeholder="New Password"
                         type="password"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">University info :</label>
                <div class="controls">
                  <input class="span11" name="confirmNewPassword" placeholder="Confirm New Password"
                         type="password"/>
                </div>
              </div>
              <div class="form-actions">
                <button class="btn btn-success" type="submit">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="fragment :: footer"></div>
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/jquery.ui.custom.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/bootstrap-colorpicker.js}"></script>
<script th:src="@{js/bootstrap-datepicker.js}"></script>
<script th:src="@{js/jquery.uniform.js}"></script>
<script th:src="@{js/select2.min.js}"></script>
<script th:src="@{js/maruti.js}"></script>
<script th:src="@{js/maruti.form_common.js}"></script>
</body>
</html>